@charset "UTF-8";

/* 参考サイト */
/* https://www.ug-inc.net/recruiting/ */
/* https://hrmos.co/pages/colopl/jobs/1100009 */
/* https://www.figma.com/design/NfC54VzPnOMbwP3w6Ud0xV/%E7%B7%9A%E3%82%B5%E3%83%B3%E3%83%97%E3%83%AB?node-id=0-1&node-type=canvas&t=LOWcF7Hen6JAC1zg-0 */

/* https://zumerlab.github.io/orbit-docs/introduction/ */

body {
    margin: 0;
    font-family: "trajan-pro-3", "Trajan Pro 3", serif;
    font-size: 100%;
}

a {
    color: #000000;
    text-decoration: none;
}

header {
    width: 50vw;
    /* margin: 0 auto; */
    min-width: calc(100vw - calc(100vw - 100%));
    margin-bottom: 3%;
    /* position: relative; */
}

header img {
    width: 100%;
    max-width: 1200px;
    display: block;
    margin: 0 auto;
    position: relative;
}

h1 {
    text-align: center;
}

main {
    background-color: #F5F5F5;
    background-color: #D5D5D5;
    background-color: #E5E5E5;
    width: 90%;
    padding: 2% 5%;
    /* padding: 0 5%; */
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 3%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2)
}

main p {
    text-align: center;
    padding: 2%;
}

main dl {
    margin: 0 10%;
    display: flex;
    flex-wrap: wrap;
}

main dt {
    font-size: 1.2rem;
    width: 20%;
    padding: 3%;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #a5a0a0;
    border-left: 0px solid #a5a0a0;
    border-bottom: 0px solid #a5a0a0;
    position: relative;
}

main dt:nth-of-type(1) {
    /* border: 1px solid #a5a0a0; */
    /* border-left: 0px solid #a5a0a0; */
    /* border-bottom: 0px solid #333333; */
}

main dt:nth-last-of-type(1) {
    border-bottom: 1px solid #a5a0a0;
}

main dt a {
    width: 120px;
    padding: 10%;
    padding: 20px;
    display: block;
    font-size: 1rem;
    position: absolute;
    left: -140px;
    top: -100px;
    color: #FFFFFF;
    font-weight: 700;
    background-color: #D5D5D5;
    background-color: #A5A5A5;
}

main dt a::before {
    background-image: url(../img/link_line_top_left_04.png);
    content: '';
    height: 71px;
    position: absolute;
    top: 79px;
    width: 110px;
}

main dd {
    width: 80%;
    margin: 0;
    padding: 3%;
    box-sizing: border-box;
    position: relative;
    border: 1px solid #a5a0a0;
    border-bottom: 0px solid #a5a0a0;
    border-left: 0px solid #a5a0a0;
    border-right: 0px solid #a5a0a0;
}

main dd a {
    width: 120px;
    padding: 5%;
    padding: 20px;
    display: block;
    font-size: 1rem;
    position: absolute;
    /* left: -140px; */
    right: -250px;
    right: -150px;
    right: -130px;
    top: -100px;
    top: -50px;
    color: #FFFFFF;
    font-weight: 700;
    background-color: #D5D5D5;
    background-color: #A5A5A5;
}

main dd a::before {
    background-image: url(../img/link_line_top_right.png);
    /* background-image: url(../img/link_line_top_left_04.png); */
    content: '';
    height: 71px;
    height: 100px;
    position: absolute;
    top: 79px;
    top: 60px;
    top: 40px;
    right: 150px;
    right: 50px;
    width: 150px;
}

main dd:nth-of-type(1) {
    /* border-right: 0px solid #a5a0a0; */
    /* border-left: 0px solid #a5a0a0; */
    /* border-bottom: 0px solid #a5a0a0; */
}

main dd:nth-last-of-type(1) {
    border-bottom: 1px solid #a5a0a0;
}

main a:hover {
    background-color: #858585;
    transition: all 0.5s ease;
}

main dd ol {
    margin: 0;
    padding-left: 1.2rem;
}

main dd ul {
    margin: 0;
    padding-left: 1.2rem;
}

footer {
    margin-bottom: 2%;
}

footer a {
    font-size: 1.2rem;
    background-color: #2966A7;
    color: #ffffff;
    padding: 25px 75px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    width: fit-content;
    font-weight: 700;
}

footer a:hover {
    background-color: #194677;
}

header>div {
    position: absolute;
    position: fixed;
    top: 0;
    /* left: 1%; */
    /* left: 100px; */
    z-index: 1;
    left: 100vw - calc(100vw - 100%);
}

.orbit-12>.satellite {
    background-color: #194677ce;
    border: none;
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 600;
    font-style: normal;
    font-family: "Pinyon Script", cursive;
    /* background-color: #FFFFFF; */
    /* font-family: "Sacramento", cursive; */
    /* font-family: "Monsieur La Doulaise", cursive; */
    /* font-family: "Allura", cursive; */
}